| You are about to add 
a href="https://www.youtube.com/watch?v=#{ytid}" https://www.youtube.com/watch?v=#{ytid}
|  to the playlist.
form action="/playlist" method="POST"
  button name="ytid" value="#{ytid}" Add to playlist